@import 'variables';
@import 'bootstrap-sass-official/assets/stylesheets/bootstrap/normalize';
@import 'bootstrap-sass-official/assets/stylesheets/bootstrap/mixins';
@import 'bootstrap-sass-official/assets/stylesheets/bootstrap/alerts';
@import 'bootstrap-sass-official/assets/stylesheets/bootstrap/badges';
@import 'bootstrap-sass-official/assets/stylesheets/bootstrap/button-groups';
@import 'bootstrap-sass-official/assets/stylesheets/bootstrap/buttons';
@import 'bootstrap-sass-official/assets/stylesheets/bootstrap/close';
//@import 'bootstrap/component-animations';
@import 'bootstrap-sass-official/assets/stylesheets/bootstrap/dropdowns';
@import 'bootstrap-sass-official/assets/stylesheets/bootstrap/forms';
@import 'bootstrap-sass-official/assets/stylesheets/bootstrap/grid';
@import 'bootstrap-sass-official/assets/stylesheets/bootstrap/input-groups';
@import 'bootstrap-sass-official/assets/stylesheets/bootstrap/labels';
@import 'bootstrap-sass-official/assets/stylesheets/bootstrap/media';
@import 'bootstrap-sass-official/assets/stylesheets/bootstrap/navbar';
@import 'bootstrap-sass-official/assets/stylesheets/bootstrap/navs';
@import 'bootstrap-sass-official/assets/stylesheets/bootstrap/pagination';
@import 'bootstrap-sass-official/assets/stylesheets/bootstrap/print';
//@import 'bootstrap/responsive-embed';
@import 'bootstrap-sass-official/assets/stylesheets/bootstrap/responsive-utilities';
@import 'bootstrap-sass-official/assets/stylesheets/bootstrap/scaffolding';
@import 'bootstrap-sass-official/assets/stylesheets/bootstrap/thumbnails';
@import 'bootstrap-sass-official/assets/stylesheets/bootstrap/type';
@import 'bootstrap-sass-official/assets/stylesheets/bootstrap/utilities';
@import 'fontawesome/scss/font-awesome';

body {
  direction: ltr;
  background: url('../img/carousel/img1.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 101px;
}

.container-fluid,
.row {
  height: 100%;
}

.navbar {
  height: auto;
  min-height: none;
}

.navbar,
.navbar-default {
  background: #ffffff;
}

.navbar-brand {
  padding: 5px 0px;
  height: auto;
}

.headertxt {
  color: transparent;
  height: 0px;
}

.navbar-nav>li>a {
  line-height: 71px;
}

.welcome {
  background: rgba(255,255,255,0.8);
  color: #000;
  margin: 140px 0px 30px;
  padding: 10px 30px 15px;
  font-family: Georgia, serif;
  h1 {
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0;
  }
  h3 {
    margin: 10px 0;
    text-align: center;
    text-transform: uppercase;
  }
}

.f-listings-grid {
  margin: 0 -15px;
  padding: 15px;
}

.f-listings {
  h3 {
    margin: 0;
    padding: 10px 0;
    font-family: Georgia, serif;
  }
}

.f-listing {
  margin: 0 0 30px;
  background: rgba(0,59,0,0.5);
  color: #fff;
  padding: 10px;
  .f-listing-title {
    text-transform: uppercase;
    text-align: center;
    font-family: Georgia, serif;
  }
  .f-listing-desc {
    padding: 10px 0 0;
  }
}

.footer {
  background: #003b00;
  color: #fff;
  margin: 20px 0 0;
  .copyright {
    color: #fff;
    padding: 15px 0 15px;
  }
  .disclaimer {
    padding: 5px 0 15px;
    h5 {
      text-transform: uppercase;
    }
  }
}

.flogo img {
  width: 100%;
  height: auto;
}

.facontent {
  margin: 0 0 0 20px;
}

.fa_front {
  margin: 0 10px 0 -20px;
}

div.faspacer {
  width: 10px;
  display: inline-block;
}

.spacer {
  &-5 {
    height: 5px;
  }
  &-10 {
    height: 10px;
  }
  &-15 {
    height: 15px;
  }
  &-20 {
    height: 20px;
  }
  &-25 {
    height: 25px;
  }
  &-30 {
    height: 30px;
  }
}

.nothing {

}