$icon-font-path: "../../bower_components/fontawesome/fonts/";

@import 'variables';
@import 'bootstrap-sass-official/assets/stylesheets/bootstrap/normalize';
@import 'bootstrap-sass-official/assets/stylesheets/bootstrap/mixins';
@import 'bootstrap-sass-official/assets/stylesheets/bootstrap/alerts';
@import 'bootstrap-sass-official/assets/stylesheets/bootstrap/badges';
@import 'bootstrap-sass-official/assets/stylesheets/bootstrap/button-groups';
@import 'bootstrap-sass-official/assets/stylesheets/bootstrap/buttons';
@import 'bootstrap-sass-official/assets/stylesheets/bootstrap/close';
//@import 'bootstrap/component-animations';
@import 'bootstrap-sass-official/assets/stylesheets/bootstrap/dropdowns';
@import 'bootstrap-sass-official/assets/stylesheets/bootstrap/forms';
@import 'bootstrap-sass-official/assets/stylesheets/bootstrap/grid';
@import 'bootstrap-sass-official/assets/stylesheets/bootstrap/input-groups';
@import 'bootstrap-sass-official/assets/stylesheets/bootstrap/labels';
@import 'bootstrap-sass-official/assets/stylesheets/bootstrap/media';
@import 'bootstrap-sass-official/assets/stylesheets/bootstrap/navbar';
@import 'bootstrap-sass-official/assets/stylesheets/bootstrap/navs';
@import 'bootstrap-sass-official/assets/stylesheets/bootstrap/pagination';
@import 'bootstrap-sass-official/assets/stylesheets/bootstrap/print';
//@import 'bootstrap/responsive-embed';
@import 'bootstrap-sass-official/assets/stylesheets/bootstrap/responsive-utilities';
@import 'bootstrap-sass-official/assets/stylesheets/bootstrap/scaffolding';
@import 'bootstrap-sass-official/assets/stylesheets/bootstrap/thumbnails';
@import 'bootstrap-sass-official/assets/stylesheets/bootstrap/type';
@import 'bootstrap-sass-official/assets/stylesheets/bootstrap/utilities';
@import 'fontawesome/scss/font-awesome';

body {
  direction: ltr;
  background: #eeeeee;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 101px;
}

.container-fluid,
.row {
  height: 100%;
}

.navbar {
  height: auto;
  min-height: none;
}

.navbar,
.navbar-default {
  background: #ffffff;
}

.navbar-brand {
  padding: 5px 0px;
  height: auto;
}

.headertxt {
  color: transparent;
  height: 0px;
}

.navbar-nav>li>a {
  line-height: 71px;
}

.footer {
  background: #003b00;
  color: #fff;
  margin: 20px 0 0;
  .copyright {
    color: #fff;
    padding: 15px 0 15px;
  }
  .disclaimer {
    padding: 5px 0 15px;
    h5 {
      text-transform: uppercase;
    }
  }
}

.flogo img {
  width: 100%;
  height: auto;
}

.facontent {
  margin: 0 0 0 20px;
}

.fa_front {
  margin: 0 10px 0 -20px;
}

div.faspacer {
  width: 10px;
  display: inline-block;
}

.spacer {
  &-5 {
    height: 5px;
  }
  &-10 {
    height: 10px;
  }
  &-15 {
    height: 15px;
  }
  &-20 {
    height: 20px;
  }
  &-25 {
    height: 25px;
  }
  &-30 {
    height: 30px;
  }
}

.comm-listing-container,
.pages-container {
  margin-top: 5px;
  margin-bottom: 30px;
  min-height: 300px;
  color: #666666;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #003b00;
  }
}

.cl-heading-wrapper,
.pages-header-wrapper {
  margin-bottom: 15px;
}

.cl-wrapper,
.pages-wrapper {
  background: #ffffff;
  border: 2px solid #d3d3d3;
  padding: 15px 10px 20px;
  margin-bottom: 30px;
}

.cl-listing-title,
.pages-title {
  text-transform: uppercase;
  .badge {
    text-transform: capitalize;
  }
}
